<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="suzdalenko.photolapse"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="suzdalenko.photolapse.util.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FroxaImagenes"
        android:usesCleartextTraffic="false"

        tools:targetApi="31">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="androidx.camera.default.impl"
            android:value="androidx.camera.camera2.Camera2Config" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" android:supportsPictureInPicture="true"
            android:name="suzdalenko.photolapse.ui.CameraActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name="suzdalenko.photolapse.ui.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.FroxaImagenes" />
        <activity
            android:name="suzdalenko.photolapse.ui.MainActivity"
            android:exported="true"  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="suzdalenko.photolapse.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="suzdalenko.photolapse.receiver.FirstPlaneReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.example.ACTION_EVENT" />
            </intent-filter>
        </receiver>
        <service
            android:name="suzdalenko.photolapse.service.FileUploadService"
            android:exported="false"
            android:foregroundServiceType="camera" />
        <service
            android:name="suzdalenko.photolapse.service.PhotoCreateService"
            android:exported="false"
            android:foregroundServiceType="camera" />
        <receiver android:name=".receiver.StopPhotoCreatingReceiver" android:exported="false" android:enabled="true" />
        <receiver android:name=".receiver.StopFileUploadReceiver" android:exported="false" android:enabled="true" />
        <receiver android:name=".receiver.StartServicesReceiver" android:exported="false" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>